<div class="beer-profile">
  <h2>{{name}}</h2>
  <h4>Brewed by {{brewer}}</h4>
  <p><strong>IBUs:</strong> {{ibu}}<br>
  <strong>ABV:</strong> {{abv}}</p>
  <p><strong>Tasting Notes:</strong> {{note}}</p>
</div>